@model System.Collections.Generic.IList<Shared.Functional.DTO.IPaperDTO>
@{
    ViewBag.Title = "Papers";
}

<div id="divPapers" style="position:relative;top:20px;">
    @foreach (var paperDTO in Model)
    {
        <div paper-id="@paperDTO.PaperId" class="panel panel-default">
            <div class="panel-heading" info='title'><h3>@paperDTO.Name</h3></div>
            <div class="panel-body">
                <p info='desc'>@paperDTO.Description</p>
                <p info='duration'><b> Duration: </b>@paperDTO.Duration</p>
                <p count="@paperDTO.QuestionCount" info='count'><b>No. of Questions: </b>@paperDTO.QuestionCount</p>
                <a href="#papers" action='edit'>Edit</a> |
                <a href="#papers" action='delete'>Delete</a> |
                @Html.ActionLink("Details", "Details","Paper", new {id = paperDTO.PaperId}, null)
            </div>
        </div>
    }
</div>
<button id="btnCreate" type="button" class="btn btn-primary" style="margin:10px;">Add Paper</button>

<div id="paperModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modalTitle" class="modal-title">Edit Paper</h4>
            </div>
            <div id="paperModalBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" id="btnSave" class="btn btn-primary" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    }
</div><!-- /.modal -->
@section scripts{
    <script type="text/javascript" src="~/Scripts/custom/paper.js"></script>
}
